/***************** hiding, resizing and some necessities ******************/

.askfm-ad-slot, .side-section .streamItem, .side-section > h3, .side-section > p, footer {
	display: none !important;
}

#item-poller, #item-fixer, .streamItem-panel, .item-pager, #searchResults, .top-content, .subTabBar-wide, #profileForm, .twoColumnBody .main-column {
	 width: 700px;
}

.streamItem-panel.toggle {
	width: 680px;
}

.searchBar {
	width: 670px;
}

.main-column {
    margin: 0px 0 0 130px;
}

body[data-id^="wall"] .main-column, body[data-id^="inbox"] .main-column, body[data-id^="friends"] .main-column, body[data-id^="notifications"] .main-column, body[data-id^="likes"] .main-column, body[data-id^="search"] .main-column {
	margin: 142px 0 0 130px;
}

body[data-id="notifications/edit"] .main-column {
	margin: 0 0 0 130px;
}

body[data-id^="profile"] .top-content {
	margin: 150px 0 0 130px;
}

/***************** question and answer forms ******************/

body[data-id^="wall/"] #askForm, body[data-id^="notifications/"] #askForm, body[data-id^="inbox/"] #askForm, body[data-id^="likes/"] #askForm, body[data-id^="friends/"] #askForm, body[data-id^="search/"] #askForm {
	position: absolute;
	top: 50px;
	margin-left: -520px;
	width: 700px;
	height: 120px;
	padding-top: 10px;
	background: #edeef2;
}

#askForm.new_question {
	position: static !important;
	margin: 0 !important;
	width: auto !important;
	height: auto !important;
	padding: 0 !important;
	background: none !important;
}

body[data-id^="profile/"] #askForm.new_question {
	position: absolute !important;
	top: 50px !important;
	margin-left: -520px !important;
	width: 700px !important;
	height: 120px !important;
	padding-top: 10px !important;
	background: #edeef2 !important;
}

#askForm textarea, body[data-id^="profile/"] #askForm.new_question textarea {
	min-height: 40px;
	max-height: 40px;
}

body[data-id="questions/new"] #askForm textarea {
	min-height: 250px;
	max-height: 500px;
}

#askForm.new_question textarea {
	min-height: 80px;
	max-height: 250px;
}

#lightboxBody {
	width: 720px;
}

/***************** coloring ******************/

body, body.contentBody, #contentArea {
	background: #ddd;
    /*font-family: Helvetica;*/
}

#topMenu, .topBar, .tabBar, .desktop-menu nav {
	background: #255277;
}

a.tabBarTab.active, .desktop-menu > a.active, .subTabBar-wide a.active {
	border-bottom: 3px solid #99bb00 !important;
}

.profileTabBar.subTabBar-wide a div, .btn-secondary, .btn-action {
	color: #99bb00 !important; 
}

.btn-primary, .btn-primary-wide, .btn-primary-icon, #newItemsReady, .btn-secondary:hover, .btn-action:hover, lael.icon-like {
	background: #99bb00 !important;
}
.btn-secondary:hover, .btn-action:hover {
   	border: 2px solid #99bb00 !important;
}

.icon-askfm-logo, .askfm-logo, #askBox, .desktop-menu a, .desktop-menu a.active, #desktop-menu-icon a, a.btn-secondary:hover {
	color: #fff !important;
}

.desktop-menu a:hover, #desktop-menu-icon a:hover {
	color: #ddd !important;
}

a.questionersName, .streamItemContent-answer a, .streamItemContent-question a, a.defaultListItem, a.profilePictureSettings-option, body[data-id^="profile/edit"] [class^=simpleForm] a, body[data-id^="services/index"] .socialListItem a {
	color: #408db1 !important;
}

.icon-like.active, .desktop-menu a.icon-settings {
	border-bottom: none !important;
}

.desktop-menu nav {
	border-top: none !important;
}

.viewMore:before, .askfm-ad-slot.loading:before, .gemini-container .loader:before, .visualItemPlayIcon-youTube.loader:before, .visualItemPlayIcon-animatedGif.loader:before {
	border: 4px solid #99bb00 !important;
	border-top-color: transparent !important;
}

/***************** profile description ******************/

#profileBio {
    display: block !important;
}

#profileBio .aboutMore {
    max-height: none !important;
    padding-bottom: 1em;
}

#profileBio .moreButton {
    display: none !important;
}

#sidebarBio {
    display: none !important;
}

/***************** other ******************/

.main-column {
    text-align: justify;
}
